$LayoutWidth:1350px;
$mainWidth: 1200px;
$layoutBg: #F6F6F6; // 页面背景色
$carouselHeight: 450px; // 轮播图高度
$marginBottomTags: 29px; // 热门标签与下面div的外边距
$marginTopMain: 15px; // 页面展示区与头部背景的上边距


$textColor: #748594; // 浅一点的灰色
$textColor2: #566573; // 深一点的灰色
$textColor3: #555555; // 首页博客列表的标题 深一点的灰色
$textColor4: #9a9a9a; // 亮一点的灰色
$textColor5: #181818; // 导航栏的背景色
$textColor6: #00a7eb; // 网站logo文字颜色
$textColor7: #DFDFDF; // 浅一点的白色边框
$textColor8: #005980; // 链接颜色

$textHoverColor: #337ab7; // 首页博客列表鼠标经过时候的标题颜色 鼠标掠过时的颜色
$textHoverColor2: #409EFF; // 鼠标掠过时的颜色
$textHoverColor3: #000000; // 鼠标掠过时的颜色
$textHoverColor4: #aeb2bf; // 鼠标掠过时的颜色
$textHoverColor5: rgba(146, 146, 146, .1); // 鼠标掠过时的颜色

// 标签颜色
$tagColor: #8A9B0F;
$tagColor2: #EB6841;
$tagColor3: #3FB8AF;
$tagColor4: #FE4365;
$tagColor5: #FC9D9A;
$tagColor6: #EDC951;
$tagColor7: #C8C8A9;
$tagColor8: #83AF9B;
$tagColor9: #036564;
$tagColor10: #3299BB;

// 文字在一行上显示，多余的显示...
@mixin textOneLine {
  white-space: nowrap; // 超出一行的文字不换行，在一行显示
  overflow: hidden; // 超出隐藏
  text-overflow: ellipsis; // 隐藏的文字显示 ...
}


// 鼠标滑过放大图片 加在图片标签的父级上
@mixin scaleImg {
  overflow: hidden;

  .el-image {
    width: 100%;
    height: 100%;
    @include transitionStyle;
  }

  &:hover .el-image {
    transform: scale(1.2);
    cursor: pointer;
  }
}

// 公共过渡样式
@mixin transitionStyle($transitionTime:0.5s) {
  -moz-transition: all $transitionTime ease;
  -webkit-transition: all $transitionTime ease;
  -ms-transition: all $transitionTime ease;
  -o-transition: all $transitionTime ease;
  transition: all $transitionTime ease;
}


// 文字在自定义的行数上显示...
@mixin textNumberLine($number) {
  overflow: hidden; // 超出隐藏
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; // 隐藏的文字显示 ...
}


// 加载更多和已加载全部按钮
@mixin loadMore {
  text-align: center;
  margin-top: 10px;
}

// 在图片上面的h2标签样式 相对于父级定位
@mixin h2InImg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .7);
  color: #fff;
  z-index: 1;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
}

// 半透明黑色遮罩 相对于父级的宽高
@mixin mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 1;
  @include transitionStyle;
}

// 首页右侧 标签、友链、三级推荐、四级推荐 公共样式
@mixin tagsBasicStyle {
  padding: 30px 30px;
  background: #ffffff;
  @include boxShadow;
}

//公共盒子阴影
@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
}

// 热门标签下的h2标签 title样式 热门标签、关注我、特别推荐、推荐文章
@mixin hotTagsH2 {
  font-size: 18px;
  color: #282828;
  font-weight: 600;
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: "";
    background-color: #282828;
    left: 0;
    width: 50px;
    height: 2px;
    bottom: 0;
    position: absolute;
    @include transitionStyle;
  }
}

// 返回首页按钮样式
@mixin tabHome {
  cursor: pointer;
  background: $textColor5;
  color: #FFFFFF;

  &:hover {
    color: $textColor6;
  }
}

// 清除浮动 加在浮动元素的父级上
@mixin clearfix {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  *zoom: 1;
  /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}
