@import '../../assets/styles/global.scss';

.follow-us {
  margin-bottom: $marginBottomTags;
  @include tagsBasicStyle;

  &:hover ::after {
    width: 70px;
  }

  h2 {
    @include hotTagsH2;
  }

  ul {
    li {
      display: flex;
      margin-bottom: 10px;
      height: 40px;
      line-height: 40px;
      font-size: 12px;

      .icon-box {
        width: 34px;
        font-size: 18px;
        font-weight: 700;
        padding-left: 5px;
      }

      .content {
        flex: 1;
        @include textNumberLine(1);

        &:hover {
          color: $textHoverColor2;
          cursor: pointer;
        }
      }

      .label {
        width: 85px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        @include transitionStyle;

      }

      &:hover .label {
        width: 100px;
      }
    }
  }
}
